.vscode/**
.vscode-test/**
src-源码/**
config-配置/**
docs-文档/**
dist-产物/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
config-配置/vscodeignore-打包忽略配置
docs-文档/license-许可证
out/test/**
images-图片/Screenshot_*.png
