.vscode/**
.vscode-test/**
src-源码/**
config-配置/eslint-代码检查配置.mjs
config-配置/vscode-test-测试配置.mjs
scripts/**
backup/**
docs-文档/**
dist-产物/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
images-图片/Screenshot_*.png
images-图片/*.orig.png
test-示例/**
e2e-端到端/**
